[Unit]
Description=Run the notable digest job for dedicated environment %i daily

[Timer]
OnCalendar=*-*-* 12:00:00
Persistent=true

[Install]
WantedBy=timers.target
