[Unit]
Description=Refresh admin auth token for dedicated environment %i weekly

[Timer]
OnCalendar=weekly
Persistent=true

[Install]
WantedBy=timers.target
